body {
  background-color: #2911df;
  color: white;
}

.recharts-responsive-container {
  margin-left: auto;
  margin-right: auto;
}

.myeven li {
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

.myeven li:nth-child(even) {
  background-color: #bfdbfe50;
}

.mygradien {
  background: #399dfa;
  background: linear-gradient(45deg, #399dfa 0%, rgba(144, 130, 255, 1) 100%);
}

.mygradien:hover {
  background: #399dfa;
  background: linear-gradient(45deg, #d3f70e 0%, rgb(112, 93, 255) 100%);
}
