@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Figtree', sans-serif;
  transition: all .8s ease;
}

body {
  background-color: #161b19;
  color: white;
}

.recharts-responsive-container {
  margin-left: auto;
  margin-right: auto;
}

.myeven li {
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

.myeven li:nth-child(even) {
  background-color: #222726;
}

.mygradien {
  background: #1e2423;
  border: 1px solid rgb(15, 24, 22);
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.mygradienloading {
  background: #1e2423;
  background: linear-gradient(110deg, #1e2423 8%, #282e2d 18%, #1e2423 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.mygradien:hover {
  border-color: #1dd79c;
}

input {
  background-color: #1e2423;
}

/* .glow-parent:hover {
  box-shadow: 0 0 4px #1dd79c80, 0 0 8px #1dd79c80, 0 0 12px #1dd79c80;
} */

.glow-parent:hover .glow-child {
  color: #1dd79c;
}
